.today-img{
    width: 26px;
    height: 26px;
    position: relative;
    top: -32px;
    left: 24px;
    /* z-index: 1; */
   }
   .today-text{
    font-family: 'Rounded Mplus 1c Bold';
    font-size: 10px;
    width: 22px;
    height: 15px;
    color:#F2F2FD;
    position: relative;
    top: -65px;
    left: 33px;
   }