
.calendar-title{
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 24px;
    color:#383576 ;
}
.calendar-container{
    display: grid;
    place-content: center;
    position: relative;
    bottom: 20px;
}

.react-calendar { 
    width: 22vw;
    height: 32vh;
    max-width: 100%;
    background: #F2F2FD;
    color: #383576;
    border: none;
    font-family: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
   }
   .react-calendar__navigation button {
    color: #383576;
    min-width: 44px;
    background: none;
    font-weight: 700;
    font-size: 20px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #F2F2FD;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #F2F2FD;
   }
   abbr[title] {
    text-decoration: none;
    /* hide day in week */
    color:#F2F2FD;
   }

   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__month-view__days__day {
    font-size: medium;
    color: #383576;
   }
  
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
   }
   .react-calendar__tile{
    height: 40px;
   }
   
   .react-calendar__tile--now {
    background: #F2F2FD; 
    color: #F2F2FD;
    box-sizing: border-box;
    position:relative;
   }
   .react-calendar__tile--now > abbr{
    /* width: 50px;
    height: 50px; */
    padding: 5px;
    border-radius: 50%;
    background-color: #6f48eb;

   }
   /* .today-img{
    width: 26px;
    height: 26px;
    position: relative;
    top: -30px;
    left: 25px;
   }
   .today-text{
    font-size: 3px;
    width: 22px;
    height: 15px;
    color:#F2F2FD;
    position: relative;
    top: -55px;
    left: 35px;
   } */
   /* .display-today{
    display: grid;
    place-items: center;
    background:#43408D; 
    width: 26px;
    height: 26px;
    border-radius: 5px;
    font-size: 10px;
    color:#F2F2FD;
    position: absolute;
    top: -15px;
    right: -3px; 
} */
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
   }