*{

}
.clock{
    display: grid;
    place-items: center;
}
.item-analog-clock{
    width: 10vw;
    position: relative;
    top: 3.5vh;
    left: 8vw;
}
.item-digital-clock{
    width: 22vw;
    height: 20vh;
}