
.container-digital-clock{
    display: grid;
    place-items: center;
    background: #6F6AF2;
    height: 18vh;
    box-shadow: 4px 4px 12px 7px rgba(212, 210, 248, 0.5);
    border-radius: 2vh;
    z-index: 1;
}
.item-time{
    position: relative;
    top: 1vh;
}
.item-date{
    position: relative;
    top: -2vh;
}
.digitalClock-text{
    font-style: normal;
    /* font-family: 'Rounded Mplus 1c Bold'; */
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}
.date-text{
    /* font-family: 'Rounded Mplus 1c Bold'; */
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}