*{

}
.container-right{
    display: grid;
    grid-template-rows: 1fr 2.5fr 4fr;
    height: 90vh;
    gap: 1vh;
    border-radius:2vh;
}
.item-user-information{
    display: grid;
    place-items: center;
}
.item-clock{
    display: grid;
    place-items: center;
    position: relative;
    bottom:8vh ;
}
.item-calendar{
    display: grid;
    place-items: center;
    position: relative;
    bottom:10vh ;
}