*{

}
.container-userInformation {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1vw;
    margin: 4vh;
}
.item-avatar{
    display: grid;
    place-items: center;
}
.avatar-img{
    width: 67px;
    height: 67px;
    border-radius: 50%;
}
.item-user-container{
    display: block;
    grid-template-rows: 1fr 1fr;
    height: 8vh;
}
.user-name{
    display: grid;
    place-items: start;
    height: 3vh;
}

.userName-text{
    font-family: 'Rounded Mplus 1c';
    font-size: 16px;
    color: #383576;
}
.information{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    position: relative;
    top: 1vh;
    width: 13vw;
    height: 3vh;
}
.item-information-1{
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
    background-color: #6F6AF2;
    width: 3.7vw;
    height: 2vh;
    border-radius: 1vh;
    position: relative;
}
.member-img{
    width: 9px;
    height: 9px;
    position: relative;
    left: 0.2vw;
}
.userPosition-text{
    font-family: 'Rounded Mplus 1c';
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF ;
    position:relative;
    top: 0.05vh;
}
.item-information-2{
    display: grid;
    place-items: center;
    width: 4.5vw;
    height: 2vh;
    border-radius: 1vh;
    grid-template-columns: 1fr 3fr;
    background-color: #6F6AF2;
}
.computer-img{
    display: grid;
    place-items: center;
    position: relative;
    left: 0.3vw;
}
.userDivice-text{
    background:#6F6AF2;
    border-radius: 15px;
    font-family: 'Rounded Mplus 1c';
    font-weight: 500;
    font-size: 0.5vh;
    color: #FFFFFF ;
    position:relative;
    right: 0;
    top: 0.05vh;
}
.item-information-3{
    display: grid;
    place-items: center;
    width: 3.9vw;
    height: 2vh;
    border-radius: 1vh;
    grid-template-columns: 0.5fr 8fr 1fr;
    place-items: center;
    background-color: #6F6AF2;
}
.location-img{
    position: relative;
    left: 0.4vw;
}

.userLocation-text{
    background:#6F6AF2;
    font-family: 'Rounded Mplus 1c';
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF ;
    position:relative;
    left: 0.5vw;
}
.attention-img{ 
    position: relative;
    right: 0.3vw;
    width: 14px;
    height: 14px;
}
.item-notification{
    width: 27px;
    height: 31px;
    position: relative;
    left: 2vw;
    top: 2vh;
}