<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class ="col-md-6 col-md-offset-3">
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/product}">Product</a><br>
    <a th:href="@{/category/create}">Create new Category</a>

    <form th:action="@{/category/search}" method="get">
        <p> Search Category By Name</p>
        <input type="text" name="categoryName" class="form-control">
        <input type="submit" class="btn btn-primary" value="Search" >

    </form>
    <h3> Category List </h3>
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>category Name </td>
<!--            <td>Product</td>-->
            <td>Delete</td>
            <td>Update</td>


            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "obj :${listCategory}">
            <td th:text = "${obj.id}"></td>
            <td th:text = "${obj.categoryName}">categoryName</td>
<!--            <td th:text = "${obj.productName}">productName</td>-->

            <td>
                <a th:href="@{category/delete/{id}(id=${obj.id})}">Delete</a>
            </td>

            <td>
                <a th:href="@{category/update/{id}(id=${obj.id})}">Update</a>
            </td>

        </tr>
        </tbody>
    </table>

</body>
</html>