<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

<a th:href="@{/home}">Home</a>

<h3> Create Category </h3>


<form th:action="@{/category/createCategory}" method="post">
    <p> Please enter new category name</p>
    <input type= "text" name="categoryName"><br>
    <input type="submit" value="Create" class=" btn btn-primary">
</form>

</body>
</html>