<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div class="container-banner">
    <img class="img-banner" th:src="@{/img/final_exam_logo.png}" />
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="#">Final Exam</a>-->
<!--        </div>-->
        <ul class="nav navbar-nav">
            <li class="active"><a>Home</a></li>
            <li><a th:href="@{/product}">Product</a></li>
            <li><a th:href="@{/category}">Category</a></li>
            <li><a th:href="@{logout}">Logout</a></li>
        </ul>

    </div>
</nav>
<h3> Final Exam Java Advance</h3>
<p>Student: Nguyen Van Van</p>
<p>Class: Railway 31</p>
</body>
</html>