<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <a th:href="@{/home}">Home</a>
    <h3> Create Product </h3>

    <form th:action="@{/product/createProduct}" method="post">
        <p> Please enter new product name</p>
        <input type= "text" name="productName"><br>
        <p> Please enter product price</p>
        <input type= "text" name="price"><br>
        <p> Please enter product quantity</p>
        <input type= "text" name="quantity"><br>
        <p> Please enter product category Id</p>
        <p>1: Cell Phone, 2:Computer, 3:Car, 4: Plane</p>
        <input type= "text" name="categoryId"><br>
        <input type="submit" value="Create" class=" btn btn-primary">
    </form>

</body>
</html>