<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class ="col-md-6 col-md-offset-3">
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/category}">Category</a><br>
    <a th:href="@{/product/create}">Create New Product</a>

    <form th:action="@{/product/search}" method="get">
        <p> Search Product By Product Name</p>
        <input type="text" name="productName" class="form-control">
        <input type="submit" class="btn btn-primary" value="Search" >

    </form>
    <h3> Product List </h3>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Product Name </td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Category</td>
        <td>Delete</td>
        <td>Update</td>


    <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "obj :${listProduct}">
        <td th:text = "${obj.id}"></td>
        <td th:text = "${obj.productName}">productName</td>
        <td th:text = "${obj.price}">price</td>
        <td th:text = "${obj.quantity}">quantity</td>
        <td th:text = "${obj.categoryName}">categoryName</td>

        <td>
            <a th:href="@{product/delete/{id}(id=${obj.id})}">Delete</a>
        </td>

        <td>
            <a th:href="@{product/update/{id}(id=${obj.id})}">Update</a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>