.container-action{
    display: grid;
    width: 58vw;
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
}
.item-action{
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);
}
.item-action-container{
    display: grid;
    /* grid-template-rows: 0.8fr 4.5fr 0.8fr; */
    grid-template-rows: 1fr 5fr 1fr;
}
.item-circle{
    display: grid;
    place-items: end;
    margin-right: 1vw;
}
.item-img{
    display: grid;
    place-items: center;
}
.item-button{
    display: grid;
    place-items: center;
    position: relative;
    bottom: 2.5vh;
}
.action-button{
    width: 68px;
    height: 36px;
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #383576;
    border:none;
    background: none;
}

.circle-attendance {
    fill: #6F6AF2;
    stroke-width: 0.1875em;
    
  }
.attendance-img{
    width: 56px;
    height: 60px;
}
.circle-leave {
    fill: #DD2838;
    stroke-width: 0.1875em;
  }
.leave-img{
    width: 56px;
    height: 60px;
}

.circle-holiday {
    fill: #C5C3F7;
    stroke-width: 0.1875em;
  }
.holiday-img{
    width: 56px;
    height: 60px;
}
.circle-overtime {
    fill: #5DD75B;
    stroke-width: 0.1875em;
    
  }
.overtime-img{
    width: 56px;
    height: 60px;
}

