
.container-center{
    display: grid;
    grid-template-rows: 0.2fr 1fr 1.2fr;
    height:90vh;
    gap:2vh;
    column-gap: 5vh;
}
.greeting{
    grid-row: 1;
    grid-column: 1 / span 5;
}

.action{
    grid-row: 2;
    grid-column: 1 / span 5;
}

.listRecentActivities{
    grid-row: 3;
    grid-column: 1 / 4;
}
.calculate{
    grid-row: 3;
    grid-column: 4 / 6;
}