.calculate-title{
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 24px;
    color:#383576 ;
    margin-left: 1vw;
}
.container-calculate-attendance{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 18px;
    margin: 10px;
    height: 45vh;
    width: 20vw;
}
.item-work-day{
    grid-column:1;
    grid-row: 1;
    width: 11vw;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);  
}
.item-title{
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #43408D;
    position: relative;
    top: 2vh;
    left: 2vw;
}
.item-calculate{
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #383576;
    position: relative;
    top: 2vh;
    left: 2vw;
}
.item-holiday{
    grid-column:2;
    grid-row: 1;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);  
}
.item-work-time{
    grid-column:1/3;
    grid-row: 2;
    grid-template-rows: 0.5fr 2fr;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);    
}
.item-detail{
    background-color: #6F6AF2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-content: center;
    width: 3.5vw;
    height: 3vh;
    border-radius: 0.3vw;
    position: relative;
    left: 17vw;
}
.attention-img{
    display: grid;
    place-items: center;
    margin-left: 1vw;
}
.item-detail-title{
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 900;
    font-size: 1vh;
    text-align: center;
    color: #F8FAFB;
    position: relative;
    right: 0.5vw;
    bottom: 0.1vh;
}
.item-calculate-work-time{
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #383576;
    margin: 2vw;
}
.item-overtime{
    border-radius: 10px;
    width: 10vw;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);
}
.item-break-time{
    border-radius: 10px;
    width: 10vw;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);
}