
.greeting{
    display: grid;
    place-items: start;
}
.greeting-text{
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    color: #383576;
}
