
.recent-activities-title{
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 24px;
    color:#383576 ; 
}
.container-recent-activities{
    display: grid;
    grid-template-columns: 8fr 1fr  5.5fr 3.5fr;
    height: 6.8vh;
    place-items: center;
    width:30vw ;
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 2px rgba(212, 210, 248, 0.5);
    border-radius: 10px;
}
.text-date-time{
    display: grid;
    place-content: start;
    font-family: 'Rounded Mplus 1c';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#1C1951 ;
    position: relative;
    left: -2vw;
}
.text-time{
    display: grid;
    place-content: start;
    font-family: 'Rounded Mplus 1c';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#1C1951 ;
    position: relative;
    left: -4vw;
}

.button-attendance{
    background-color: #6F6AF2;
    font-family: 'Rounded Mplus 1c';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    width:64px ;
    height:33px ;
}
.button-leave{
    background: #DD2838;
    font-family: 'Rounded Mplus 1c';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    width:64px ;
    height:33px ;

}