
.container-sidebar{
    display: grid;
    height: 90vh;
    /* grid-template-rows: 2fr 1fr 1fr 1.2fr 2fr ; */
    grid-template-rows: 1.8fr 1fr 1fr 1.2fr 1.8fr ;
}
.logo{
    display: grid;
    place-items: center;
    grid-template-rows:45px 5px ;
    position: relative;
    top: 2vh;
}
.logo-name {
    font-family: 'Rounded Mplus 1c';
    font-weight: 900;
    font-size: 28px;
    line-height: 41.58px;
    text-align: center;
    color: #F8FAFB;
}
.company-name {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #F8FAFB;
}
.home-container{
    display: grid;
    place-items: center;
    grid-template-columns:1fr 5fr ; 
    position: relative;
    bottom: 3vh;
}
.home{
    display: grid;
    place-items: center;
    grid-template-rows:45px 20px ;
    position: relative;
    right: 5px;
}
.home-img {
    width: 38px;
    height: 35px;
    color: #FFFFFF;
}
.text-home {
    width: 36px;
    height: 18px;
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.rectangle{
    position: relative;
    left: -0.4vw;
   
}
.user{
    display: grid;
    place-items: center;
    grid-template-rows:45px 5px ;

}
.user-img {
    width: 38px;
    height: 23px;
}
.user-text {
    width: 36px;
    height: 18px;
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.timeSheet{
    display: grid;
    place-items: center;
    grid-template-rows:45px 30px ;

}
.timeSheet-img {
    width: 38px;
    height: 38px;
}
.timeSheet-text {
    position: relative;
    top:5px;
    width: 36px;
    height: 36px;
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.setting{
    display: grid;
    place-items: center;
    grid-template-rows:45px 3px ;

}
.setting-img {
    width: 38px;
    height: 33px;
}
.setting-text {
    position: relative;
    right: 0;
    top: 5px;
    width: 24px;
    height: 18px;
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.logout{
    display: grid;
    place-items: center;
    grid-template-rows:45px 5px ;
    position: relative;
    bottom: 4vh;
}
.logout-img {
    width: 30px;
    height: 30px;
}
.logout-text {
    position: relative;
    top: 5px;
    width: 60px;
    height: 18px;
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


