.container{
  display: grid;
  grid-template-columns: 80px  2fr 1.8fr ;
  height: 90vh;
  margin: 50px;
  gap: 3vw;
}
.item-sidebar{
  background-color: #6F6AF2;
  height: 90vh;
  border-radius: 15px;
}
.item-center{
  border-radius: 10px;
  height: 90vh;
}
.item-right{
  border-radius: 10px;
  background: #F2F2FD;
  height: 90vh;
}
